html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	transform-style: preserve-3d;
	perspective: 600px;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.page-content {
	//transform: scale3d(0.7,0.7,0.7);
	height: 100%;
	width: 100%;
}

.husk-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	//animation: customrotate 20s ease-out infinite;
	//transform:rotateX(41deg) rotateZ(39deg);
	transform-origin: center;
	transform-style: preserve-3d;
}

.husk {
	height: 300px;
	width: 1080px;
	perspective: none;
	transform-style: preserve-3d;
	transform-origin: center center;
	margin-right: 10px;
	transform: scale(.5);
}

.letter {
	transform-style: preserve-3d;
}

.h,
.u,
.s,
.k {
	background: #00ff0a;
}

.hb,
.ub,
.sb,
.kb {
	background: #247e28;
}

.bg {
	transform: translateZ(-80px);
}

.h {
	&.h1 {
		height: 300px;
		width: 80px;
		position: absolute;
		top: 0;
		left: 0;
	}

	&.h2 {
		height: 80px;
		width: 80px;
		position: absolute;
		top: 110px;
		left: 80px;
	}

	&.h3 {
		height: 300px;
		width: 80px;
		position: absolute;
		top: 0px;
		left: 160px;
	}
}

.hb {
	&.hb1 {
		height: 300px;
		width: 80px;
		position: absolute;
		top: 0;
		left: -80px;
		transform-origin: right;
		transform: rotateY(-90deg);
	}

	&.hb2 {
		height: 80px;
		width: 80px;
		position: absolute;
		top: -80px;
		left: 0;
		transform-origin: bottom;
		transform: rotateX(90deg);
	}

	&.hb3 {
		height: 80px;
		width: 80px;
		position: absolute;
		bottom: -80px;
		left: 0;
		transform-origin: top;
		transform: rotateX(-90deg);
	}

	&.hb4 {
		height: 110px;
		width: 80px;
		position: absolute;
		top: 0;
		left: 80px;
		transform-origin: left;
		transform: rotateY(90deg);
	}

	&.hb5 {
		height: 110px;
		width: 80px;
		position: absolute;
		bottom: 0;
		left: 80px;
		transform-origin: left;
		transform: rotateY(90deg);
	}

	&.hb6 {
		height: 300px;
		width: 80px;
		position: absolute;
		top: 0;
		left: 240px;
		transform-origin: left;
		transform: rotateY(90deg);
	}

	&.hb7 {
		height: 80px;
		width: 80px;
		position: absolute;
		top: -80px;
		left: 160px;
		transform-origin: bottom;
		transform: rotateX(90deg);
	}

	&.hb8 {
		height: 80px;
		width: 80px;
		position: absolute;
		bottom: -80px;
		left: 160px;
		transform-origin: top;
		transform: rotateX(-90deg);
	}

	&.hb9 {
		height: 110px;
		width: 80px;
		position: absolute;
		top: 0;
		left: 160px;
		transform-origin: left;
		transform: rotateY(90deg);
	}

	&.hb10 {
		height: 110px;
		width: 80px;
		position: absolute;
		bottom: 0;
		left: 160px;
		transform-origin: left;
		transform: rotateY(90deg);
	}

	&.hb11 {
		height: 80px;
		width: 80px;
		position: absolute;
		top: 110px;
		left: 80px;
		transform-origin: top;
		transform: rotateX(-90deg);
	}

	&.hb12 {
		height: 80px;
		width: 80px;
		position: absolute;
		top: 190px;
		left: 80px;
		transform-origin: top;
		transform: rotateX(-90deg);
	}
}


.u {
	&.u1 {
		height: 300px;
		width: 80px;
		position: absolute;
		top: 0;
		left: 280px;
	}

	&.u2 {
		height: 80px;
		width: 80px;
		position: absolute;
		bottom: 0;
		left: 360px;
	}

	&.u3 {
		height: 300px;
		width: 80px;
		position: absolute;
		top: 0;
		left: 440px;
	}
}

.ub {
	&.ub1 {
		height: 300px;
		width: 80px;
		position: absolute;
		top: 0;
		left: 280px;
		transform-origin: left;
		transform: rotateY(90deg);
	}

	&.ub2 {
		height: 80px;
		width: 80px;
		position: absolute;
		top: 0;
		left: 280px;
		transform-origin: top;
		transform: rotateX(-90deg);
	}

	&.ub3 {
		height: 220px;
		width: 80px;
		position: absolute;
		top: 0;
		left: 360px;
		transform-origin: left;
		transform: rotateY(90deg);
	}

	&.ub4 {
		height: 80px;
		width: 80px;
		position: absolute;
		top: 220px;
		left: 360px;
		transform-origin: top;
		transform: rotateX(-90deg);
	}

	&.ub5 {
		height: 220px;
		width: 80px;
		position: absolute;
		top: 0;
		left: 440px;
		transform-origin: left;
		transform: rotateY(90deg);
	}

	&.ub6 {
		height: 80px;
		width: 80px;
		position: absolute;
		top: 0;
		left: 440px;
		transform-origin: top;
		transform: rotateX(-90deg);
	}

	&.ub7 {
		height: 300px;
		width: 80px;
		position: absolute;
		top: 0;
		left: 520px;
		transform-origin: left;
		transform: rotateY(90deg);
	}

	&.ub8 {
		height: 80px;
		width: 240px;
		position: absolute;
		bottom: 0;
		left: 280px;
		transform-origin: bottom;
		transform: rotateX(90deg);
	}
}

.s {
	&.s1 {
		height: 80px;
		width: 240px;
		position: absolute;
		top: 0;
		left: 560px;
	}

	&.s2 {
		height: 30px;
		width: 80px;
		position: absolute;
		top: 80px;
		left: 560px;
	}

	&.s3 {
		height: 80px;
		width: 240px;
		position: absolute;
		top: 110px;
		left: 560px;
	}

	&.s4 {
		height: 30px;
		width: 80px;
		position: absolute;
		top: 190px;
		left: 720px;
	}

	&.s5 {
		height: 80px;
		width: 240px;
		position: absolute;
		bottom: 0;
		left: 560px;
	}
}

.sb {
	&.sb1 {
		height: 80px;
		width: 240px;
		position: absolute;
		top: 0;
		left: 560px;
		transform-origin: top;
		transform: rotateX(-90deg);
	}
	&.sb2 {
		height: 190px;
		width: 80px;
		position: absolute;
		top: 0;
		left: 560px;
		transform-origin: left;
		transform: rotateY(90deg);
	}
	&.sb3{
		height: 80px;
		width: 160px;
		position: absolute;
		top: 110px;
		left: 640px;
		transform-origin: top;
		transform: rotateX(-90deg);
	}
	&.sb4{
		height: 80px;
		width: 160px;
		position: absolute;
		top: 80px;
		left: 640px;
		transform-origin: top;
		transform: rotateX(-90deg);
	}
	&.sb5{
		height: 30px;
		width: 80px;
		position: absolute;
		top: 80px;
		left: 640px;
		transform-origin: left;
		transform: rotateY(90deg);
	}
	&.sb6{
		height: 80px;
		width: 160px;
		position: absolute;
		top: 190px;
		left: 560px;
		transform-origin: top;
		transform: rotateX(-90deg);
	}
	&.sb7{
		height: 80px;
		width: 160px;
		position: absolute;
		bottom: 80px;
		left: 560px;
		transform-origin: bottom;
		transform: rotateX(90deg);
	}
	&.sb8{
		height: 30px;
		width: 80px;
		position: absolute;
		bottom: 80px;
		left: 720px;
		transform-origin: left;
		transform: rotateY(90deg);
	}
	&.sb9{
		height: 80px;
		width: 80px;
		position: absolute;
		bottom: 0;
		left: 560px;
		transform-origin: left;
		transform: rotateY(90deg);
	}
	&.sb10{
		height: 80px;
		width: 240px;
		position: absolute;
		bottom: 0;
		left: 560px;
		transform-origin: bottom;
		transform: rotateX(90deg);
	}
	&.sb11{
		height: 80px;
		width: 80px;
		position: absolute;
		top: 0;
		left: 800px;
		transform-origin: left;
		transform: rotateY(90deg);
	}
	&.sb12{
		height: 190px;
		width: 80px;
		position: absolute;
		bottom: 0;
		left: 800px;
		transform-origin: left;
		transform: rotateY(90deg);
	}
}



.k {
	&.k1 {
		height: 300px;
		width: 80px;
		position: absolute;
		top: 0;
		left: 840px;
	}

	&.k2 {
		height: 80px;
		width: 80px;
		position: absolute;
		top: 110px;
		left: 920px;
	}

	&.k3 {
		height: 110px;
		width: 80px;
		position: absolute;
		top: 0;
		left: 1000px;
	}

	&.k4 {
		height: 110px;
		width: 80px;
		position: absolute;
		bottom: 0;
		left: 1000px;
	}

	&.k5 {
		height: 80px;
		width: 240px;
		position: absolute;
		bottom: 0;
		left: 560px;
	}
}
